<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="androidTests">
    <parameter name="appname" value="app-debug.apk" />
    <parameter name="host" value="http://127.0.0.1:" />
    <parameter name="port" value="4723" />
    <test thread-count="5" name="InstrumentalTest">
        <classes>
            <class name="com.example.ageverifier.instrumental_tests.InstrumentalTests">
        <!--   Exclude the tests using xml file.
                <methods>
                <exclude name="TC_01"></exclude>
            </methods> -->
            </class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->